/*
 * =============================================================================
 * ChatWindow.css
 * =============================================================================
 */

 :root {
	--color-primary: #4caf50;
	--color-secondary: #ffc107;
	--color-dark: #333;
	--color-light: #fff;
	--spacing-small: 10px;
	--spacing-medium: 20px;
	--spacing-large: 30px;
	--radius-small: 5px;
}

#chat-window {
	display: flex;
	flex-direction: column;
	max-width: 800px;
	height: 50vh;
	margin: 0 auto var(--spacing-small) auto;
	padding: var(--spacing-medium);
	border-radius: var(--radius-small);
	background-color: var(--color-dark);
	color: var(--color-light);
	overflow: auto;
}

#mbot-form {
	display: flex;
	flex-direction: row;
}

.bot,
.user {
	max-width: 70%;
	padding: var(--spacing-small);
	margin-bottom: var(--spacing-small);
	border-radius: var(--radius-small);
	color: var(--color-dark);
	text-align: left;
}

.bot {
	align-self: flex-start;
	background-color: var(--color-light);
}

.user {
	align-self: flex-end;
	background-color: var(--color-secondary);
	color: var(--color-dark);
}

textarea {
	padding: var(--spacing-small);
	border: none;
	border-radius: var(--radius-small);
	resize: none;
	overflow: auto;
	min-height: 5vh; /* Set minimum height */
	max-height: 20vh; /* Set maximum height */
	flex: auto;
}

button {
	padding: var(--spacing-small);
	border: none;
	border-radius: var(--radius-small);
	background-color: var(--color-primary);
	color: var(--color-light);
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin: 0 var(--spacing-small) 0 var(--spacing-small);
}

button:hover {
	background-color: darken(var(--color-primary), 10%);
}
